<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo mb-2">Ang-Blog</div>
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Terms & Conditions</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                </ul>
                <p class="copyright-text mt-3">Copyright © 2025 All Rights Reserved by Micho</p>
            </div>
        </div>
    </div>
</footer>
